<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DWOS.Reports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <userSettings>
        <DWOS.Reports.Properties.Settings>
            <setting name="LastReportCustomerID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OrderByProcessReportSelected" serializeAs="String">
                <value>76</value>
            </setting>
            <setting name="LastReportProcessID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastReportProductClass" serializeAs="String">
                <value />
            </setting>
            <setting name="PackingSlipDefaultFields" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="LastProcessAnswerReportIds" serializeAs="String">
                <value />
            </setting>
        </DWOS.Reports.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
