<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.11" targetFramework="net452" />
  <package id="BarcodeLib" version="1.1.0.0" targetFramework="net452" />
  <package id="MathNet.Numerics" version="4.5.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="NLog" version="4.5.10" targetFramework="net452" />
  <package id="TimePeriodLibrary.NET" version="2.1.1" targetFramework="net452" />
</packages>