<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DWOS.AutomatedWorkOrderTool.Properties.Settings.DWOSDataConnectionString" connectionString="Data Source=ds2-dwos-dev-1;Initial Catalog=DWOS;Persist Security Info=True;User ID=dwos;Password=dwos" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILicenseService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILicenseService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://ds2-scout:8080/LicenseService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILicenseService" contract="Licensing.ILicenseService" name="NetTcpBinding_ILicenseService" />
            <endpoint address="http://ds2-scout:8082/LicenseService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILicenseService" contract="Licensing.ILicenseService" name="BasicHttpBinding_ILicenseService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
