<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DWOS.Server.Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DWOS.Server.Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTCP_ILicenseService">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://apps.mydwos.com/DS2.AppManagement/ActivationService.svc" binding="basicHttpBinding" contract="LicenseActivation.IActivationService" name="BasicHttpBinding_IActivationService"/>
      <endpoint address="net.tcp://localhost:8080/LicenseService" binding="netTcpBinding" bindingConfiguration="netTCP_ILicenseService" contract="Licensing.ILicenseService" name="NetTcpBinding_ILicenseService"/>
    </client>
  </system.serviceModel>
  <userSettings>
    <DWOS.Server.Admin.Properties.Settings>
      <setting name="ReleaseGroup" serializeAs="String">
        <value>Normal</value>
      </setting>
    </DWOS.Server.Admin.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DWOS.Server.Admin.Properties.Settings>
      <setting name="ProductID" serializeAs="String">
        <value>DWOS</value>
      </setting>
      <setting name="SQLServerInstallArgsFormat" serializeAs="String">
        <value>/qs /action=Install /IAcceptSqlServerLicenseTerms /ConfigurationFile={0}</value>
      </setting>
      <setting name="SQLServerInstallURL" serializeAs="String">
        <value>https://go.microsoft.com/fwlink/?linkid=853017</value>
      </setting>
      <setting name="FirewallLicensePort" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="FirewallSQLPort" serializeAs="String">
        <value>1433</value>
      </setting>
      <setting name="FirewallRESTPort" serializeAs="String">
        <value>8081</value>
      </setting>
      <setting name="FirewallMobileLicensePort" serializeAs="String">
        <value>8082</value>
      </setting>
    </DWOS.Server.Admin.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
