<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DWOS.Dashboard.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DWOS.Dashboard.Settings>
            <setting name="LateByLocationWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LateByLocationHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrdersByLocationWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrdersByLocationHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrdersByPriorityWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrdersByPriorityHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QAByLocationWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QAByLocationHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShippingReceivingWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShippingReceivingHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </DWOS.Dashboard.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
