<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DWOS.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DWOS.Data.Properties.Settings.DWOSDataConnectionString"
      connectionString="Data Source=www.mydwos.com, 4506;Initial Catalog=DWOS_DMF;User ID=sa;Password=P@ssw0rd!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <applicationSettings>
    <DWOS.Data.Properties.Settings>
      <setting name="DWOSHelp" serializeAs="String">
        <value>https://ds2llc.github.io/DWOS/Help/DWOS_23_Help.pdf</value>
      </setting>
    </DWOS.Data.Properties.Settings>
  </applicationSettings>
</configuration>
