<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HarfBuzzSharp" version="1.4.6" targetFramework="net472" />
  <package id="Neodynamic.SDK.ThermalLabel" version="8.0.19.401" targetFramework="net472" />
  <package id="Neodynamic.SDK.ThermalLabel.WindowsPrinting" version="8.0.18.427" targetFramework="net472" />
  <package id="Neodynamic.Windows.ThermalLabelEditor" version="8.0.18.525" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="NLog" version="4.5.10" targetFramework="net452" />
  <package id="SkiaSharp" version="1.60.0" targetFramework="net472" />
  <package id="SkiaSharp.HarfBuzz" version="1.60.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="net472" />
</packages>