<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DWOS.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DWOS.QBExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DWOS.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <userSettings>
    <DWOS.UI.Properties.Settings>
      <setting name="CurrentDepartment" serializeAs="String">
        <value>Paint</value>
      </setting>
      <setting name="LastSelectedCustomer" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSelectedProcess" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSelectedUser" serializeAs="String">
        <value />
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastSelectedPart" serializeAs="String">
        <value />
      </setting>
      <setting name="ScannedPODirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="MinimumOrderRushCharge" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="PrintQuantity" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="OrderMaxNumberofDays" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="PartManagerMediaDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ShippingRolloverTime" serializeAs="String">
        <value>08/10/2011 16:30:00</value>
      </setting>
      <setting name="Late0Day" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="Late1Day" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="Late2Day" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="Late3Day" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="PartMarkSelectedFont" serializeAs="String">
        <value>Medium</value>
      </setting>
      <setting name="PartMarkSelectedStroke" serializeAs="String">
        <value>MultiStroke1</value>
      </setting>
      <setting name="LastVersionUpdateShown" serializeAs="String">
        <value />
      </setting>
      <setting name="TouchEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrintOrderProcessSheets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WIPAnimations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SummaryCountBy" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SummaryLateBy" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WIPHighlightLateFullRow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastSelectedOrderReport" serializeAs="String">
        <value />
      </setting>
      <setting name="ReceivingPrintQuantity" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="FinalInspectionPrintLabel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CurrentLine" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="PauseRefreshWithOpenDialog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HoldPrintLabel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastSelectedProcessPackage" serializeAs="String">
        <value />
      </setting>
    </DWOS.UI.Properties.Settings>
    <DWOS.QBExport.Properties.Settings>
      <setting name="WorkOrderPrefix" serializeAs="String">
        <value>WO-</value>
      </setting>
      <setting name="ProcessingItemName" serializeAs="String">
        <value>General Part</value>
      </setting>
      <setting name="CustomerWOField" serializeAs="String">
        <value>Customer WO</value>
      </setting>
      <setting name="TrackingNumberField" serializeAs="String">
        <value>Tracking #</value>
      </setting>
      <setting name="QBConnectionString" serializeAs="String">
        <value>ApplicationName="DWOS"</value>
      </setting>
      <setting name="MaxBatchExport" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="QBClass" serializeAs="String">
        <value />
      </setting>
      <setting name="QBXMLVersion" serializeAs="String">
        <value>7.0</value>
      </setting>
    </DWOS.QBExport.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DWOS.UI.Properties.Settings>
      <setting name="OrderStatusOpen" serializeAs="String">
        <value>Open</value>
      </setting>
      <setting name="OrderPriorityDefault" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="OrderStatusClosed" serializeAs="String">
        <value>Closed</value>
      </setting>
      <setting name="OrderPriorityExpedite" serializeAs="String">
        <value>Expedite</value>
      </setting>
      <setting name="DefaultShippingCarrierID" serializeAs="String">
        <value>UPS</value>
      </setting>
      <setting name="AutoHideDisabledButtons" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserVoiceAPIKey" serializeAs="String">
        <value>QCguvMndJnRdD4QZTlXw</value>
      </setting>
      <setting name="UserVoiceAPISecret" serializeAs="String">
        <value>7aV8u2phiSuU5LKWWzk9FIMdrG9TRxzdmDJ0KrdlKA</value>
      </setting>
      <setting name="UserVoiceSubDomain" serializeAs="String">
        <value>dwos</value>
      </setting>
      <setting name="DocumentTypesToExclude" serializeAs="String">
        <value>.lnk,.exe,.dll</value>
      </setting>
      <setting name="CustomerStatusOnHold" serializeAs="String">
        <value>On Hold</value>
      </setting>
      <setting name="PrintPdfUsingReader" serializeAs="String">
        <value>False</value>
      </setting>
    </DWOS.UI.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IActivationService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTCP_ILicenseService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://ds2-scout:8080/LicenseService" binding="netTcpBinding" bindingConfiguration="netTCP_ILicenseService" contract="Licensing.ILicenseService" name="NetTcpBinding_ILicenseService" />
      <endpoint address="http://apps.mydwos.com/DS2.AppManagement/ActivationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActivationService" contract="DS2LicenseActivation.IActivationService" name="BasicHttpBinding_IActivationService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
