<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.11" targetFramework="net472" />
  <package id="CommonServiceLocator" version="2.0.3" targetFramework="net472" />
  <package id="CronExpressionDescriptor" version="1.21.2" targetFramework="net472" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net472" />
  <package id="HarfBuzzSharp" version="1.4.6" targetFramework="net472" />
  <package id="HtmlRenderer.Core" version="1.5.0.6" targetFramework="net472" />
  <package id="HtmlRenderer.WinForms" version="1.5.0.6" targetFramework="net472" />
  <package id="MouseKeyHook" version="5.6.0" targetFramework="net472" />
  <package id="MvvmLightLibs" version="5.4.1" targetFramework="net472" />
  <package id="Neodynamic.SDK.ThermalLabel" version="8.0.19.401" targetFramework="net472" />
  <package id="Neodynamic.SDK.ThermalLabel.WindowsPrinting" version="8.0.18.427" targetFramework="net472" />
  <package id="Neodynamic.Windows.ThermalLabelEditor" version="8.0.18.525" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="NLog" version="4.5.10" targetFramework="net472" />
  <package id="nsoftware.InQB" version="6.0.6250" targetFramework="net472" />
  <package id="nsoftware.IPWorks" version="16.0.6723" targetFramework="net472" />
  <package id="Quartz" version="3.0.6" targetFramework="net472" />
  <package id="RestSharp" version="106.3.1" targetFramework="net472" />
  <package id="SkiaSharp" version="1.60.0" targetFramework="net472" />
  <package id="SkiaSharp.HarfBuzz" version="1.60.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="net472" />
  <package id="TimePeriodLibrary.NET" version="2.1.1" targetFramework="net472" />
</packages>