<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DWOS.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DWOS.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
   </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceDiscovery />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" maxConcurrentInstances="1000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="DWOS.Server.Services.LicenseService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTCPConfig" contract="DWOS.Server.Services.ILicenseService" />
        <!--<endpoint address="net.tcp://localhost:8081/LicenseService/mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <endpoint address="http://localhost:8083/LicenseService/mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />-->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="http_ILicenseService" contract="DWOS.Server.Services.ILicenseService" />
        <endpoint name="udpDiscovery" kind="udpDiscoveryEndpoint" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/LicenseService" />
            <add baseAddress="http://localhost:8082/LicenseService" />
          </baseAddresses>
        </host>
      </service>
      <!--<service name="DWOS.Server.Services.OPCService">
        <endpoint address="net.tcp://localhost:8080/OPCService" binding="netTcpBinding" bindingConfiguration="netTCPConfig" contract="DWOS.Server.Services.IOPCService" />
        <endpoint address="net.tcp://localhost:8081/OPCService/mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
      </service>-->
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IActivationService" />
        <binding name="http_ILicenseService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTCPConfig" listenBacklog="1000" maxConnections="1000">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
       <endpoint address="http://apps.mydwos.com/DS2.AppManagement/ActivationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActivationService" contract="LicenseActivation.IActivationService" name="BasicHttpBinding_IActivationService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <DWOS.Server.Properties.Settings>
      <setting name="PrinterName" serializeAs="String">
        <value>Brother HL-2170W series Printer</value>
      </setting>
      <setting name="ShippingNotificationsInterval" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="QuoteReminderCRON" serializeAs="String">
        <value>0 0 8 ? * MON</value>
      </setting>
      <setting name="PortalNotificationsInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="COCNotificationsInterval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="UseInMemoryLicenseProvider" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OrderApprovalNotificationsInterval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="OrderHoldNotificationsInterval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LateOrderNotificationsInterval" serializeAs="String">
        <value>10</value>
      </setting>
    </DWOS.Server.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DWOS.Server.Properties.Settings>
      <setting name="ProductID" serializeAs="String">
        <value>DWOS</value>
      </setting>
      <setting name="DWOSSupportEmail" serializeAs="String">
        <value>support@ds2.com</value>
      </setting>
      <setting name="RESTServerPort" serializeAs="String">
        <value>8081</value>
      </setting>
    </DWOS.Server.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
