<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="DWOS.Shared"/>
  </extensions>
  <targets async="true">
    <target name="f" xsi:type="File" header="Log Started - ${longdate}" footer="Log Ended - ${longdate}" layout="${longdate} ${logger} ${message} ${exception:format=tostring}" fileName="${basedir}/logs/${shortdate}.log" createDirs="true"/>
    <target name="n" xsi:type="ErrorReporter" layout="${date:format=T} ${logger} ${level} ${message} ${exception:format=tostring}" />    
    
    <target name="d" xsi:type="Debugger" layout="${date:format=T} ${logger} ${level} ${message} ${exception:format=tostring}" />
    <target name="c" xsi:type="Console" layout="${date:format=T} ${logger} ${level} ${message} ${exception:format=tostring}" />

    <target name="network" xsi:type="Network" address="udp://127.0.0.2:877" newLine="false" maxMessageSize="65000" encoding="utf-8" layout="${log4jxmlevent:includeSourceInfo=true:includeCallSite=true:includeMdc=true:appInfo=LogEmiter:includeNdc=true:includeNLogData=true}" />
  </targets>

  <rules>
    
    <logger name="*" minlevel="Debug" writeTo="f" />
    <logger name="*" minlevel="Debug" writeTo="n" />

   <!-- Disable for deployment
    <logger name="*" minlevel="Debug" writeTo="d" />
    <logger name="*" minlevel="Debug" writeTo="c" />
    <logger name="*" minlevel="Debug" writeTo="network" />
    -->
  </rules>
</nlog>
