<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DWOS.DataImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILicenseService">
                    <security mode="None"/>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://ds2-scout:8080/LicenseService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILicenseService" contract="Licensing.ILicenseService" name="NetTcpBinding_ILicenseService"/>
        </client>
    </system.serviceModel>
    <userSettings>
        <DWOS.DataImporter.Properties.Settings>
            <setting name="ApplicationServerAddress" serializeAs="String">
                <value/>
            </setting>
        </DWOS.DataImporter.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
